<!DOCTYPE html>
<html>
  <head>
    <title>BroadCast App</title>
  </head>
  <body>
    <h1>BroadCast App Client Messages</h1>
    <ul id="chat"></ul>

    <script src="/socket.io/socket.io.js"></script>
    <script>
      const socket = io();
      const chat = document.getElementById("chat");

      socket.on("messageList", (messages) => {
        messages.forEach((message) => {
          const li = document.createElement("li");
          li.innerText = `${message.name}: ${message.chat}`;
          chat.appendChild(li);
        });
      });

      socket.on("message", (message) => {
        const li = document.createElement("li");
        li.innerText = `${message.name}: ${message.chat}`;
        chat.appendChild(li);
      });
    </script>
  </body>
</html>



